.layout {
  display: flex;
  min-height: 100vh;
  background: hsl(var(--background));
}

.content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}
